/aatransporters/.idea/
/aatransporters/aatransporters.ods
/aatransporters/dataimport.py.orig
/aatransporters/proteome_plas.xlsx
/aatransporters/venv/
/simplepopmodel/__pycache__/
/simplepopmodel/venv
.idea/
simplepopmodel/.idea/

